# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>

#The next line modified by DenyIP

order allow,deny

#The next line modified by DenyIP

#deny from all

allow from all

</Limit>

<Limit PUT DELETE>

order deny,allow

deny from all

</Limit>

AuthName www.sean-inc.info

AuthUserFile /home2/seanb/public_html/_vti_pvt/service.pwd

AuthGroupFile /home2/seanb/public_html/_vti_pvt/service.grp

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]

RewriteCond %{REQUEST_FILENAME} -d

#custom stuff inserted manually by Sean

RewriteRule ^cd-list/?$ cddisplay.php

RewriteRule ^(wedding|travelers|faq|guestbook|request|registry|accomodation|things-to-do|story)/?$ $1.php



RewriteRule ^guestbook-service/?$ guestbook-service.php

RewriteRule ^guestbook-submit/?$ guestbook-submit.php

RewriteRule ^request-a-song-submit/?$ request-a-song-submit.php

</IfModule>

<Files 403.shtml>

order allow,deny

allow from all

</Files>

<filesMatch "\.(html|htm|js|css)$">
  FileETag None
  <ifModule mod_headers.c>
     Header unset ETag
     Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
     Header set Pragma "no-cache"
     Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
  </ifModule>
</filesMatch>

